<div class = "navbar box-row" >
  <a id="logo" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">
    <img src="https://www.pngkey.com/png/full/373-3733010_an-amazing-opportunity-for-business-partners-white-hand.png" width = "100">
  </a>

  <nav>
    <span>
      <a routerLink="/blog" class="item">
        Blog
      </a>
    </span>
    <span>
      <a routerLink = "/account" routerLinkActive="active" ariaCurrentWhenActive="page" class="item">
<!--        <img src = "https://icon-library.com/images/profile-icon-white/profile-icon-white-22.jpg" width="40">-->
      Profile
      </a>
    </span>
    <span>
      <a routerLink="/organizations" class="item">
        Organizations
      </a>
    </span>
    <span>
      <a routerLink="/login" class="item" (click)="logout()">
        Log out
      </a>
    </span>
  </nav>
</div>
