<div class = "navbar box-row" >
  <a id="logo" routerLink="/homepage" routerLinkActive="active" ariaCurrentWhenActive="page">
    <img src="https://static.tildacdn.com/tild3163-3163-4132-b031-396131353466/-1_1.png" width = "150">
  </a>

  <nav>
    <span>
      <a routerLink = "/account-page" routerLinkActive="active" ariaCurrentWhenActive="page" class = "item">
        <img src = "https://icon-library.com/images/white-menu-icon/white-menu-icon-12.jpg" width="60">
      </a>
    </span>
  </nav>
</div>
