.navbar{
  display: flex;
  flex-direction: row;
background-color: #003152;
  height: 95px;
  width:100%;
  color:white;
  position: relative;
padding: 20px;
  font-family:'bebas-neue',sans-serif;
}
#logo{
  display: flex;
  flex: auto;
  align-items: center;
}
#item {
  display: flex;
  padding-left: 20px;
  align-items: center;
}
