*{
  box-sizing: border-box;
  margin: auto;
  padding: 0;
}
.container{
  justify-content: center;
}
.post-form{
  align-items: center;
  top: 50px;
  width: 50%;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}
.post-input{
  padding: 5px 0 0 10px;
  position: relative;
  border: 1px solid lavender;
  border-radius: 5px;
  width: 400px;
  height: 150px;
  resize:none;
  outline: none;
}
.post-button{
  color: gainsboro;
  left: 140px;
  position: relative;
  border-radius: 5px;
  background: midnightblue;
  width: 120px;
  height: 40px;
}
.post-button:hover{
  background: darkblue;
}

.uploaded-posts{
  margin: auto;
  top: 60px;
  position: relative;
  display: flex;
  flex-direction: column;
}
app-post-blog{
  margin: 0 5px 0 0;
}
.filter{
  width: 50%;
  align-content: center;
  padding-top: 20px;
  padding-left: 130px;
}
.filter-list li{
  margin: 10px;
  display: inline;
}

.filter-list button{
  color:white;
  background: midnightblue;
  border: 1px midnightblue solid;
  border-radius: 5px;
  padding: 1px;
  width: 100px;
}
#tags{
  width: 100px;
  height: 30px;
}
