<hr>
<h1>- The Latest News -</h1>
<div class="container">
  <div class="news">
    <span style="height: 300px;">
      <strong>Princeton University Press authors awarded 2023 Guggenheim Fellowships</strong><br>
      <em><time> April 06, 2023 </time></em>
    </span>
  </div>
  <div class="line"></div>
  <div class="news">
        <span style="height: 300px;">
          <strong>Princeton University Press authors awarded 2023 Guggenheim Fellowships</strong><br>
          <em><time> April 06, 2023 </time></em>
        </span>
  </div>
  <div class="line"></div>
  <div class="news">
        <span style="height: 300px;">
          <strong>Princeton University Press authors awarded 2023 Guggenheim Fellowships</strong><br>
          <em><time> April 06, 2023 </time></em>
        </span>
  </div>
</div>
<div id = "l">
  <a href = "https://kbtu.edu.kz/kz/">Browse All News</a>
</div>

<hr class = "hr">
<app-organizations></app-organizations>
<hr class = "hr">

<h1>- Upcoming Events -</h1>
<div class="container">
  <ul class="o">
    <li class="m-event-listing">
      <a href="/events/dale-greenwalt-at-calvert-marine-museum" class="m-event-listing__link">
    <span class="m-event-listing__meta">
      <span class="m-event-listing__date">
        <span class="m-event-listing__date-date f-h1--date">23</span>
        <span class="m-event-listing__date-month f-secondary">April </span>
        <span class="m-event-listing__date-year f-secondary">2023</span>
      </span> <br>
      <strong class="m-event-listing__title f-h6"><span class="f-hovered">Dale Greenwalt at Calvert Marine Museum</span></strong><br>
      <em class="m-event-listing__subtitle f-h6">Remnants of Ancient Life</em> <br>                  <span class="m-event-listing__time f-secondary">
        1:30 pm EDT
              </span> <br>
      <span class="m-event-listing__price f-secondary"></span> <br>
    </span>
      </a>
    </li>
    <div class="line"></div>
    <li class="m-event-listing">
      <a href="/events/jennifer-carlson-at-la-times-festival-of-books" class="m-event-listing__link">
    <span class="m-event-listing__meta">
      <span class="m-event-listing__date">
        <span class="m-event-listing__date-date f-h1--date">23</span>
        <span class="m-event-listing__date-month f-secondary">April </span>
        <span class="m-event-listing__date-year f-secondary">2023</span>
      </span> <br>
      <strong class="m-event-listing__title f-h6"><span class="f-hovered">Jennifer Carlson at L.A. Times Festival of Books</span></strong><br>
      <em class="m-event-listing__subtitle f-h6">Merchants of the Right</em> <br>                  <span class="m-event-listing__time f-secondary">
        3:00 pm PDT
              </span> <br>
      <span class="m-event-listing__price f-secondary"></span> <br>
    </span>
      </a>
    </li>
    <div class="line"></div>
    <li class="m-event-listing">
      <a href="/events/nancy-foner-at-the-john-adams-institute-amsterdam" class="m-event-listing__link">
    <span class="m-event-listing__meta">
      <span class="m-event-listing__date">
        <span class="m-event-listing__date-date f-h1--date">24</span>
        <span class="m-event-listing__date-month f-secondary">April </span>
        <span class="m-event-listing__date-year f-secondary">2023</span>
      </span> <br>
      <strong class="m-event-listing__title f-h6"><span class="f-hovered">Nancy Foner at the OBA Theater, Amsterdam</span></strong><br>
      <em class="m-event-listing__subtitle f-h6">One Quarter of the Nation</em> <br>      <span class="m-event-listing__location f-secondary">Oba Theater, Oosterdokskade 143 , ...</span> <br>            <span class="m-event-listing__time f-secondary">
        7:00 pm CEST
              </span> <br>
      <span class="m-event-listing__price f-secondary"></span> <br>
    </span>
      </a>
    </li>
    <div class="line"></div>
    <li class="m-event-listing">
      <a href="/events/paul-tucker-at-the-centre-for-geopolitics-cambridge" class="m-event-listing__link">
    <span class="m-event-listing__meta">
      <span class="m-event-listing__date">
        <span class="m-event-listing__date-date f-h1--date">25</span>
        <span class="m-event-listing__date-month f-secondary">April </span>
        <span class="m-event-listing__date-year f-secondary">2023</span>
      </span> <br>
      <strong class="m-event-listing__title f-h6"><span class="f-hovered">Paul Tucker at the Centre for Geopolitics, Cambridge</span></strong><br>
      <em class="m-event-listing__subtitle f-h6">Global Discord</em> <br>      <span class="m-event-listing__location f-secondary">Umney Theatre, Robinson College, CB3...</span> <br>            <span class="m-event-listing__time f-secondary">
        5:30 pm BST
              </span> <br>
      <span class="m-event-listing__price f-secondary"></span> <br>
    </span>
      </a>
    </li>
  </ul>
</div>
<div id = "d">
  <a href = "">See All Events</a>
</div>

<hr class = "hr">

<div>
  <h2>Stay connected for the latest news, Ideas, and special offers.</h2>
  <div class="btn"><button>Subscribe</button></div>
</div>

