.container{
  justify-content: center;
  font-family: "GTAmerica",sans-serif;
  max-width: 90%;
}
button{
  width: 150px;
  padding: 13px;
  border-radius: 8px;
  background-color: midnightblue;
  border:midnightblue;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size:20px;
}
button:active{
  background-color: orange;
}
h1{
  padding: 100px;
  text-align: center;
  font-family:"PlantinMTPro",serif,sans-serif;;
  font-size: 35px;
  font-weight: lighter;
  display: block;
}

h1:after{
  content:"";
  display:block;
  width: 3em;
  max-width:70%;
  border-bottom: 2px solid orange;
  margin: 1em auto 0;
}

.tp-wrapper {
  -webkit-perspective: 800px;
  perspective: 800px;
  float: left;
  width: 33.33%;
  padding: 5px;
}

.tp-box {
  position: relative;
  width: 100%;
  height: 400px;
  margin: auto;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform         : transform 2s;
  -ms-transform         : transform 2s;
  transform         : transform 2s;
}
.tp-box__side {
  width: 100%;
  height: 100%;
  position: absolute;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  text-align: center;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tp-box__side::after {
  content: "";
  clear: both;
  display: table;
}
.tp-box__front {
  border: midnightblue;
  flex: 33.33%;
  padding: 5px;
  -webkit-transform : rotateY(0deg);
  -ms-transform     : rotateY(0deg);
  transform         : rotateY(0deg);
}
.tp-box__back {
  border:2px solid midnightblue;
  -webkit-transform : rotateY(-180deg);
  -ms-transform     : rotateY(-180deg);
  transform         : rotateY(-180deg);
}
