<app-navbar></app-navbar>
<div class="container">
  <h1>Organizations</h1>
  <div class="main">
    <img src = "https://kbtu.edu.kz/images/picstud/styd11.png" width = "300">

    <p><strong>KBTU Unit</strong><br>KBTU Unit is a charitable student organization that creates kindness in the KBTU and beyond. Members of the organization are engaged in social projects, organize charity events and participate in various city events to raise funds for children in orphanages or for the treatment of patients.<br>
      The KBTU Unit team supports the children\'s home “Zhania”: they hold holidays, contests and master classes, buy school supplies for schoolchildren by September 1 and gifts for the holidays, leisure activities are organized on Sunday and indoors for children.<br>
      The main tradition of KBTU UNIT is to hold the Sweet Fair sweets fair at KBTU. Many student organizations and student government join this event. The fair sells sweets prepared by the students themselves.<br>
      Members of the organization try to please students, teachers and workers of KBTU as often as possible.</p>
  </div>
  <button>Enter</button>
  <hr>

  <div class="main">
    <img src = "https://kbtu.edu.kz/images/picstud/art.jpg" width = "300">

    <p><strong>KBTU Art House</strong><br>KBTU Art House brings together creative students who want to develop both their musical skills and organizational skills.<br>
      Members of the organization are engaged in shooting video clips, recording cover `s, creating photo reports and photo projects, holding thematic events and parties. KBTU Art House also takes an active part in organizing the KBTU Dauysa competition.<br>
      Students have created the KBTU Art House Band, a music group that is very popular with our young people.<br>
      The organization aims to develop creative and creative thinking among students and seeks to diversify student life within the walls of the KBTU.</p>
  </div>
  <button>Enter</button>
  <hr>
  <div>
    <div class="main">
      <img src = "https://kbtu.edu.kz/images/picstud/styd4.png" width = "300">
      <p>
        <strong>KBTU IC "Everest"</strong><br>
        “KBTU IC Everest aims to develop students' intellectual abilities and raise the status of KBTU in this direction. The club organizes both weekly games<br>
        (Brain-ring, “What? Where? When?”, “Own Game”, Hamsa), and one-time events, such as “Film Quiz” or “Music Quiz”. The guys spend annually shooting the television version of the game “What? Where? When? ”At KBTU, actively participate in international games and organize city tournaments in intellectual games themselves.<br></p>
      z
    </div>
    <button>Enter</button>
  </div>
  <hr>
  <div>
    <div class="main">
      <img src = "https://kbtu.edu.kz/images/picstud/styd6.jpeg" width = "300">
      <p>
        <strong>KBTU SPE SC</strong><br>
        KBTU SPE SC (Society of Petroleum Engineers Student Chapter) is an international scientific student organization that deals with intellectual projects in the oil and gas industry.<br>
        SPE mission: Collect, disseminate and exchange technical information in the field of exploration, development and exploitation of oil and gas fields, and other resources for the common good. Providing specialists with the opportunity to improve their professional skills and level of knowledge.<br>
        Members of the organization hold and attend lectures on this topic, organize scientific events, such as "SPE Intellectual Petroleum Games", "Scientific Olympiads in the Oil and Gas Sphere" and conferences.</p>

    </div>
    <button>Enter</button>
  </div>
  <hr>
  <div>
    <div class="main">
      <img src = "https://kbtu.edu.kz/images/picstud/styd9.jpg" width = "300">
      <p>
        <strong>KBTU SEG SC</strong><br>
        The KBTU Society of Exploration Geophysicists Student Chapter (KBTU SEG SC) is a student organization under the auspices of the international organization SEG that carries out scientific and intellectual activities and follows the mission of the SEG - the advancement of geophysics. The organization is engaged in the promotion of geology within the walls of KBTU with the assistance of such companies as Schlumberger, Lloyd’s Register, etc.<br>
        SEG enhances students' ability to participate and create projects that solve issues and problems in this area. Members of the organization hold scientific and intellectual events, guest lectures and scientific conferences. In 2015, the geological intellectual game “GeoQuestions” was organized for the first time at KBTU with the participation of other universities. Moreover, the KBTU SEG helps students of the 2-3 FENGI courses in gaining work experience.<br>
        The main tradition of KBTU UNIT is to hold the Sweet Fair sweets fair at KBTU. Many student organizations and student government join this event. The fair sells sweets prepared by the students themselves.<br>
        Members of the organization try to please students, teachers and workers of KBTU as often as possible.</p>

    </div>
    <button>Enter</button>
  </div>
  <hr>
  <div>
    <div class="main">
      <img src = "https://kbtu.edu.kz/images/picstud/fakul7.png" width = "300">
      <p>
        <strong>KBTU Faces</strong><br>
        KBTU Faces is a student conglomerate whose main goal is to increase students' interest in the internal life of the university, help students in revealing their creative and organizational skills, as well as support the reputation of the Kazakh-British Technical University.<br>
        Faces hold events of various formats and scales, organize video and photo projects, and also oversee the music station at the university and Stolovka .tik.<br>
        Projects: Mafia club, Speed ​​Dating, Find Friends, Crocodile, Mister and Miss KBTU, KBTU ON ICE, KBTU AIR, HONEST FACES, FACES TIMES, Special guest, Kinonoch, Fort Boyard, Photo Hunting, Halloween party, mini-films.<br>
        Members of the organization try to please students, teachers and workers of KBTU as often as possible.</p>

    </div>
    <button>Enter</button>
  </div>
  <hr>
  <div class="main">
    <img src = "https://kbtu.edu.kz/images/picstud/styd12.png" width = "300">
    <p>
      <strong>Big City Lights Group</strong><br>
      KBTU Big City Lights conducts inter-university and university events, creates charity and entertainment projects, and also collaborates with youth organizations from other universities of the Republic of Kazakhstan.<br>
      At the events held, the organizers create a space in which students reveal their talents, intellectual abilities and creative potential.<br>
      Projects:<br>
      Blind Dating<br>
      Flashing Lights Party - A party in the style of flashing lights, combining the elite universities of Almaty, such as KBTU, KIMEP, MAB and UIB.<br>
      The Last Samurai - An exciting game with an intriguing storyline in which each participant can feel like a real killer.<br>
      BCL MovieNight is a great opportunity for movie lovers to devote an entire night to watching the premieres and discussing them.</p>

  </div>
  <button>Enter</button>

</div>

