<app-navbar></app-navbar>
<div class="container">
  <h1>Organizations</h1>
  <div class="tp-wrapper" *ngFor="let org of orgs">
    <div class="tp-box" (click)="toggleFlip()" [@flipState]="flip">
      <div class="tp-box__side tp-box__front"><img [src]="org.photo" width = "300">
      </div>
      <div class="tp-box__side tp-box__back">
        <p><strong>{{org.name}}</strong><br>{{org.description}}</p>
          <button (click)="enterOrg(org.id)">Enter</button>
      </div>
    </div>
  </div>
</div>
<!--  <div class="tp-wrapper">-->
<!--    <div class="tp-box" (click)="toggleFlip()" [@flipState]="flip">-->
<!--      <div class="tp-box__side tp-box__front"><img src = "https://kbtu.edu.kz/images/picstud/styd11.png" width = "300">-->
<!--      </div>-->
<!--      <div class="tp-box__side tp-box__back">-->
<!--        <p><strong>KBTU Unit</strong><br>KBTU Unit is a charitable student organization that creates kindness in the KBTU and beyond. Members of the organization are engaged in social projects, organize charity events and participate in various city events to raise funds for children in orphanages or for the treatment of patients.<br>-->
<!--          The KBTU Unit team supports the children\'s home “Zhania”: they hold holidays, contests and master classes, buy school supplies for schoolchildren by September 1 and gifts for the holidays, leisure activities are organized on Sunday and indoors for children.<br>-->
<!--          <button>Enter</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="tp-wrapper">-->
<!--    <div class="tp-box" (click)="toggleFlip()" [@flipState]="flip">-->
<!--      <div class="tp-box__side tp-box__front"><img src = "https://kbtu.edu.kz/images/picstud/styd4.png" width = "300">-->
<!--      </div>-->
<!--      <div class="tp-box__side tp-box__back">-->
<!--        <p>-->
<!--          <strong>KBTU IC "Everest"</strong><br>-->
<!--          “KBTU IC Everest aims to develop students' intellectual abilities and raise the status of KBTU in this direction. The club organizes both weekly games<br>-->
<!--          (Brain-ring, “What? Where? When?”, “Own Game”, Hamsa), and one-time events, such as “Film Quiz” or “Music Quiz”. The guys spend annually shooting the television version of the game “What? Where? When? ”At KBTU, actively participate in international games and organize city tournaments in intellectual games themselves.<br></p>-->
<!--        <button>Enter</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="tp-wrapper">-->
<!--    <div class="tp-box" (click)="toggleFlip()" [@flipState]="flip">-->
<!--      <div class="tp-box__side tp-box__front"><img src = "https://kbtu.edu.kz/images/picstud/styd1.png" width = "300">-->
<!--      </div>-->
<!--      <div class="tp-box__side tp-box__back">-->
<!--        <p>-->
<!--          <strong>KBTU Alive students</strong><br>-->
<!--          KBTU Have Fun Group is an organization that aims to diversify student life at KBTU by uniting students of the Faculty of Higher School of Economics. The KBTU organization Have Fun Group appeared as a result of the rebranding of the student organization Alive Students, which existed since February 15, 2013.<br>-->
<!--          Tasks set by the organization:<br>-->
<!--          1. Introduction of students to the public life of the KBTU;<br>-->
<!--          2. Holding a variety of recreational activities;<br>-->
<!--          3. Creating space for creative students;<br>-->
<!--          4. Conducting scientific and educational activities.<br>-->
<!--          Projects:  KBTU Have Fun Group, ISE FEST (Dedication of MSE), ISE FOOTBALL<br></p>-->
<!--        <button>Enter</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="tp-wrapper">-->
<!--    <div class="tp-box" (click)="toggleFlip()" [@flipState]="flip">-->
<!--      <div class="tp-box__side tp-box__front"><img src = "https://kbtu.edu.kz/images/picstud/styd15.png" width = "300">-->
<!--      </div>-->
<!--      <div class="tp-box__side tp-box__back">-->
<!--        <p>-->
<!--          <strong>KBTU Faces</strong><br>-->
<!--          KBTU Faces is a student conglomerate whose main goal is to increase students' interest in the internal life of the university, help students in revealing their creative and organizational skills, as well as support the reputation of the Kazakh-British Technical University.<br>-->
<!--          Faces hold events of various formats and scales, organize video and photo projects, and also oversee the music station at the university and Stolovka .tik.<br>-->
<!--          Projects: Mafia club, Speed ​​Dating, Find Friends, Crocodile, Mister and Miss KBTU, KBTU ON ICE, KBTU AIR, HONEST FACES, FACES TIMES, Special guest, Kinonoch, Fort Boyard, Photo Hunting, Halloween party, mini-films.<br>-->
<!--          Members of the organization try to please students, teachers and workers of KBTU as often as possible.</p>-->
<!--        <button>Enter</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="tp-wrapper">-->
<!--    <div class="tp-box" (click)="toggleFlip()" [@flipState]="flip">-->
<!--      <div class="tp-box__side tp-box__front"><img src = "https://kbtu.edu.kz/images/picstud/styd13.png" width = "300">-->
<!--      </div>-->
<!--      <div class="tp-box__side tp-box__back">-->
<!--        <p>-->
<!--          <strong>KBTU B-kesh</strong><br>-->
<!--          KBTU B-kesh is a student organization whose members are only representatives of the beautiful half of our university.<br>-->
<!--          KBTU "B-kesh" helps to expand the horizons of our girls in certain areas of life. The organization brings bright colors to student life, and is also a motivator for the development of girls as individuals.<br>-->
<!--          Goals of the organization:<br>-->
<!--          • increased activity of the female half of the university;<br>-->
<!--          • adaptation of girls at the university;<br>-->
<!--          • All-round development of girls: improvement of skills in cooking and needlework;<br>-->
<!--          • Strengthening relationships between students.</p>-->

<!--        <button>Enter</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="tp-wrapper">-->
<!--    <div class="tp-box" (click)="toggleFlip()" [@flipState]="flip" >-->
<!--      <div class="tp-box__side tp-box__front"><img src = "https://kbtu.edu.kz/images/picstud/styd3.png" width = "300">-->
<!--      </div>-->
<!--      <div class="tp-box__side tp-box__back">-->
<!--        <p>-->
<!--          <strong>Crystal KBTU</strong><br>-->
<!--          Crystal KBTU – это организация, ставшая перед собой цель проведения запоминающихся мероприятии для студентов КБТУ. В число задач сообщества также входит помощь адаптации и социализации первокурсников.<br>-->
<!--          Деятельность и проекты:<br>-->
<!--          1. Invasion – интро-вечеринка, ежегодный разогрев в начале учебного года, перед предстоящими мероприятиями.<br>-->
<!--          2. Love Sensation – ежегодное событие, приуроченное ко дню всех влюбленных.<br>-->
<!--          3. Thematic party – вечеринка, посвященная определенной тематике, как Gatsby party и тд.<br>-->
<!--          4. Groove on – самая шумная вечеринка.<br>-->
<!--          5. Полномасштабный выезд на природу всех студентов КБТУ.</p>-->

<!--        <button>Enter</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
