<div class="container">
  <div class="photo">
    <img src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cG9ydHJhaXR8ZW58MHx8MHx8&w=1000&q=80" width="300px" height="200px">
  </div>
  <div class="inputs">
    <label>Name:</label><br><input class = "ml-2.5" type="text" placeholder="User Name"><br>
    <label>Email:</label><br><input class = "ml-2.5" type="email" placeholder="me@kbtu.kz"><br>
    <label>Phone Number:</label><br><input class = "ml-2.5" type="tel" placeholder="+77777777777"><br>
    <label>Faculty:</label><br><input class = "ml-2.5" type="text" placeholder="User Faculty">
  </div>
</div>
